*{margin: 0%;
box-sizing: border-box;

}

.navbar{
    border: 1px hidden black;
height: 100px;
display: flex;
}
.leftnavbar{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 40px;
    margin-left: 30px;
}
a{
    color: black;
    text-decoration: none;
} 
a:hover{
    color: #006241;
}
.rightnavbar{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: end;
    gap:50px;
    margin-right: 30px;
}
.signjoin{
    display: flex;
    gap: 15px;
}

.btag{

    display: flex;
    align-items: center;
    justify-content: center;
}
 .signbutton{
    border-radius: 40px;
    height: 40px;
    width: 90px;
    font-size: medium;
    background-color:white;
   
 }
 .signbutton:hover{

background-color:gray;
 }
 
 .joinbutton{
    border-radius: 40px;
    height: 40px;
    width: 90px;
    font-size: medium;
    color: white;
    background-color: black;
   
 }
 .joinbutton:hover{
background-color:gray;

 }
.firstsection{
    border: 1px hidden;
    background-color:#32462f;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: white;
}
.button{
    border-color: white;
     border-radius: 40px ;
    height: 40px;
    width: 150px;
    color: white;
    background-color:#32462f;
    font-size: larger;
}
.button:hover{
    background-color: rgb(0, 117, 74);
}
.secondsection{
    border: 1px hidden;
    background-color:#9e0025;
    margin-top: 50px; 
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.first{
    display: flex;
    flex: 1;

}
.second{
display: flex;
flex: 1;
align-items: center;
flex-direction: column;
   
}
.heading{
     flex: 2;
    display: flex;
    align-items: end;
    font-size: xx-large;
    width: 400px;
    text-align: center;
}
.para{
  flex:0.5;
    text-align: center;
    margin-top: 40px;
      width: 400px;
      font-size: x-large;
}

.orderbutton{
    flex: 0.5;
    justify-content: center;
    border-radius: 20px;
    margin-top: 35px;
    
}
.order{
    height: 30px;
    width: 200px;
    border-radius: 30px;
    background-color: #9e0025; 
     color: white;
    font-size: large;
}
.order:hover{
    background-color: #9e0025;
 }

 .img2{
    height: 100%;
    width: 100%;
 }

 .thirdsection{
 border: 1px hidden ; 
     background-color:#9e0025;
    margin-top: 50px;
    display: flex;
    color: white;
  
}
.third{
    border: 1px hidden;
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 50%;
    align-items: center;
}
.heading2{
    display: flex;
    flex: 1;
    font-size: xx-large;
    justify-content: center;
    align-items: end;
    width: 600px;
    text-align: center;
}
.para2{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: end;
    width: 400px;
    text-align: center;
    font-size: x-large;
}
.learnbutton{
    display:flex;
    flex: 1;
    justify-content: center;
    align-items: start;
}

.section4{
border:  hidden;
margin-top: 50px;
display: flex;
 background-color: #006241; 
color: white;

}
.left4{
    display: flex;
    flex: 1;
}
.right4{
    display: flex;
    flex:1;
    border: 1px hidden;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 20px;
}
.heading4{
    display: flex;
    flex: 1;
    text-align: center;
    align-items: end;
    font-size: xx-large;
    
}
.para4{
    display: flex;
    flex: 1;
    font-size: xx-large;
    align-items: center;
    text-align: center;
    width: 500px;
    
}
.orderbutton{
     display:flex;
    flex: 1;
    justify-content: center;
    align-items: start;
    
}

.order2{
      height: 30px;
    width: 200px;
    border-radius: 30px;
    color: white;
 background-color: #006241;
 font-size: large;
    
}
.order2:hover{
    background-color: #006241;
}


.section5{
    border: 1px hidden;
margin-top: 50px;
display: flex;
background-color: #006241;
color: white;
}
.left5{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.heading5{
     display: flex;
    flex:1.5 ;
    font-size: xx-large;
    width: 500px;
    text-align: center;
    align-items: end;
     
}
.para5{
      display: flex;
    flex:1 ; 
    width: 500px;
    font-size: xx-large;
     text-align: center; 
     align-items: center;
     
    
}
.right5{
    display: flex;
    flex: 1;
}
  

.section6{
    border: 1px hidden;
height: 400px;
background-color: #006241;
display: flex;
margin-top: 50px;
color: white;
}
.left6{
    display: flex;
    flex: 1;
}
.right6{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.heading6{
display: flex;
flex: 1;
font-size:large;
align-items: end;
}
.para6{
display: flex;
flex: 1;
width: 400px;
font-size: large;
align-items: center;
}

.section7{

height: 350px;
 margin-top: 50px; 
display: flex;
flex-direction: column;
text-align: center;
align-items: center;

gap: 30px;
}
.top{
display: flex;
flex: 1;
width:600px ;


}
.bottom{
display: flex;
flex: 1;
width: 600px;
}

.footertopmain{
border: 1px hidden rgba(228, 226, 226, 0.897);
height: 400px;
display: flex;
color:rgb(107, 105, 105);
justify-content: space-between;

}

.foot1{
display: flex;
flex: 1;
flex-direction: column;
gap: 30px;
text-align: center;
list-style: none;
}
.foot2{
display: flex;
flex: 1;
flex-direction: column;
gap: 30px;
list-style: none;
}
.foot3{
display: flex;
flex: 1;
flex-direction: column;
gap: 30px;
list-style: none;
}
.foot4{
display: flex;
flex: 1;
flex-direction: column;
gap: 30px;
list-style: none;
}
.foot5{
display: flex;
flex: 1;
flex-direction: column;
gap: 30px;
list-style: none;
}
.foot6{
display: flex;
flex: 1;
}

.footerbottommain{
border: 1px hidden rgba(228, 226, 226, 0.897);
height: 400px;
display: flex;
color:rgb(107, 105, 105);
flex-direction: column;
}

.footerbottom1{
    display: flex;
    flex: 1;
    margin-left: 30px;
}
.footerbottom2{
    display: flex;
    flex: 4;
    flex-direction: column;
    gap: 30px;
    margin-left: 30px;
    list-style: none;
}

.logo{
    height: 50px;
    width: 50px;
}
.hr{
    margin-left: 30px;
    margin-right: 30px;
}